
@{
    ViewBag.Title = "CreateEducation";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>CreateEducation</h2>
<form method="post">

    <label class="form-control">Başlık</label>
    <input type="text" class="form-control" />
    <br />
    <label class="form-control">Alt Başlık</label>
    <input class="form-control" type="text" />
    <br />
    <label class="form-control">Açıklama</label>
    <input class="form-control" />
    <br />
    <button class="btn btn-info">Eğitim Bilgisini Kaydet</button>
</form>
