
@{
    ViewBag.Title = "EducationList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>EducationList</h2>

<table class="table table-bordered text-center">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Kocaeli Üniversitesi</td>
        <td>Bilgisayar Programcılığı</td>
        <td><button class="btn btn-danger">Sil</button></td>
        <td><button class="btn btn-warning">Güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Kocaeli Üniversitesi</td>
        <td>Bilgisayar Programcılığı</td>
        <td><button class="btn btn-danger">Sil</button></td>
        <td><button class="btn btn-warning">Güncelle</button></td>
    </tr>
</table>