
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <table class="table table-bordered text-center mt-5">
        <thead>
            <tr>
                <th>KATEGORİ İD</th>
                <th>KATEGORİ ADI</th>
                <th>KATEGORİ DURUM</th>
                <th>KATEGORİ DETAYLAR</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Sebze</td>
                <td>Aktif</td>
                <td><button class="btn btn-primary">Detay</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>İçecek</td>
                <td>Aktif</td>
                <td><button class="btn btn-primary">Detay</button></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Tatlılar</td>
                <td>Aktif</td>
                <td><button class="btn btn-primary">Detay</button></td>
            </tr>

        </tbody>

    </table>
</div>