<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url('@ViewBag.Image'); "></a>
        <ul class="list-unstyled components mb-5">
        
            <li><a href="/Admin/Dashborad">Dashboard</a></li>
            <li><a href="/Hakkında/Hakkında">Hakkımda</a></li> 
            <li><a href="/Admin/Egitimlerim">Eğitim ve Hayatım</a></li>
            <li><a href="/Skills/Skillist">Yeteneklerim</a></li>
            <li><a href="/Statistiscs/Index">İstatislikler</a></li>
            <li><a href="/Experince/Index">Deneyimlerim</a></li>
            <li><a href="/Admin/Staj">Stajlarım</a></li>
            <li><a href="/Social/Social">Sosyal Medya</a></li>
            <li><a href="/Message/Inbox">Gelen Mesajlar</a></li>
            <li><a href="/Skills/SkilChart">Yetenek Grafiğim</a></li>
            <li><a href="/Default/Index">Siteye Git</a></li>
        </ul>

        <div class="footer">
            <p>
             
            </p>
        </div>

    </div>
</nav>
