
@{
    ViewBag.Title = "CreateSkill";
    Layout = "~/Views/Admin/Index.cshtml";
}

<form method="post">

    <label class="form-control">Skil Adı</label>
    <input type="text" class="form-control" name="SkillName" />
    <label  class="form-control">Puan</label>
    <input name="Rate"  type="number"  class="form-control"/>
    <button class="btn btn-info"> Ekle </button>
    
</form>
